/* General page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 0;
}


/* Main Content */
.main-content {
    margin-left: 260px;
}


/* Topbar */
.topbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}


/* Profile */
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile i {
    font-size: 25px;
}


/* Dashboard Cards */
.cards {
    display: flex;
    gap: 20px;
    padding: 25px;
}


/* Individual Card */
.card {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.card h3 {
    margin: 0;
}

.card p {
    font-size: 28px;
    font-weight: bold;
}


/* Employee Section */
.employee-section {
    padding: 0 25px 25px;
}

.employee-section h2 {
    margin-bottom: 15px;
}


/* Employee Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


/* Table Heading */
th {
    background-color: #f5f5f5;
}